body {
    margin: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#app {
    margin: 10px;
    padding-bottom: 10px;

    width: 1600px;
    min-height: 185px;
    border: 1px solid #bfbfbf;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#app p {
    margin: 0 0 12px;
}

canvas {
    margin: 10px;
    width: 780px;
    height: 780px;
}

.map-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.map-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-panel h3 {
    margin: 0;
    font-family: monospace;
    font-size: 14px;
    font-weight: 600;
}
